hr {
    border: 1px solid black;
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

button:hover {
    background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

#form-user-survey {
    width: 500px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#outer-container {
    display: table;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: table-cell;
    width: 15%;
    vertical-align: top;
    background-color: #42daf5;
}

#sidebar a {
    display: block;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px 0 0 0;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
}

#sidebar-nav-options {
    font-weight: bold;
}

#content {
    display: table-cell;
    padding: 10px;
    width: 85%;
    vertical-align: top;
}

ul {
    padding-left: 1.2em;
}

.form-checkbox-item {
    width: 200px !important;
}